/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



.rating-area {
    overflow: hidden;
    width: 265px;
    margin: 0 auto;
}

    .rating-area:not(:checked) > input {
        display: none;
    }

    .rating-area:not(:checked) > label {
        float: right;
        width: 42px;
        padding: 0;
        cursor: pointer;
        font-size: 32px;
        line-height: 32px;
        color: lightgrey;
        text-shadow: 1px 1px #bbb;
    }

        .rating-area:not(:checked) > label:before {
            content: '★';
        }

    .rating-area > input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px #c60;
    }

    .rating-area:not(:checked) > label:hover,
    .rating-area:not(:checked) > label:hover ~ label {
        color: gold;
    }

    .rating-area > input:checked + label:hover,
    .rating-area > input:checked + label:hover ~ label,
    .rating-area > input:checked ~ label:hover,
    .rating-area > input:checked ~ label:hover ~ label,
    .rating-area > label:hover ~ input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px goldenrod;
    }

.rate-area > label:active {
    position: relative;
}



a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: "Roboto", sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
/*for Tab control*/
div.login-logout-tab div.card.header {
    padding: 0px 0px 12px 0px;
}

div.login-logout-tab li.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%
}

div.login-logout-tab a.nav-link {
    font-size: 25px;
    color: #495057;
    text-align: center;
}


/*Reviews*/
/*
    Image credits:
    uifaces.com (http://uifaces.com/authorized)
*/


.page-header {
    position: relative;
}

.reviews {
    color: #555;
    font-weight: bold;
    margin: 10px auto 20px;
}

.notes {
    color: #999;
    font-size: 12px;
}

.media .media-object {
    max-width: 120px;
}

.media-body {
    position: relative;
}

.media-date {
    position: absolute;
    right: 25px;
    top: 25px;
}

    .media-date li {
        padding: 0;
    }

        .media-date li:first-child:before {
            content: '';
        }

        .media-date li:before {
            content: '.';
            margin-left: -2px;
            margin-right: 2px;
        }

.media-Review {
    margin-bottom: 20px;
}

.media-replied {
    margin: 0 0 20px 50px;
}

    .media-replied .media-heading {
        padding-left: 6px;
    }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}

    .btn-circle span {
        padding-right: 6px;
    }

.embed-responsive {
    margin-bottom: 20px;
}

.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 30px;
}

.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');
    background-size: 120px;
    border-radius: 120px;
}

/*input[type="file"] {
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding: 0;
    left: 0;
}*/

.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}

.custom-input-file:hover .uploadPhoto {
    display: block;
}


stars
 Styling h1 and links
––––––––––––––––––––––––––––––––– 
h1[alt="Simple"] {
    color: white;
}

/*a[href], a[href]:hover {
    color: grey;
    text-decoration: none
}*/

.starrating > input {
    display: none;
}
 Remove radio buttons 

.starrating > label:before {
    content: "\f005";  Star : 
    margin: 2px;
    font-size: 8em;
    font-family: FontAwesome;
    display: inline-block;
}

.starrating > label {
    color: #222222;  Start color when not clicked 
}

.starrating > input:checked ~ label {
    color: #ffca08;
}
 Set yellow color when star checked 

.starrating > input:hover ~ label {
    color: #ffca08;
}
 Set yellow color when star hover 
