@model FastTripApp.DAO.Models.Trip.DefaultTrip

<div class="modal-content">
    <div class="modal-header">
        <h4>Detailed information about the trip</h4>
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <partial name="../Modal/_DlListData" model="Model"/>
    </div>
</div>