@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model FastTripApp.DAO.Models.Trip;




<input asp-for="UserId" class="d-none" />

<div class="form-group row">
    <div class="col-3">
        <label asp-for="Name"></label>
    </div>
    <div class="col">
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>

<div class="form-group row">
    <div class="col-3">
        <label asp-for="TimeBeforeDeparture.ApproximateStart"></label>
    </div>
    <div class="col">
        <input asp-for="TimeBeforeDeparture.ApproximateStart" class="form-control" />
        <span asp-validation-for="TimeBeforeDeparture.ApproximateStart" class="text-danger"></span>
    </div>
</div>

<input class="form-control d-none" asp-for="TimeBeforeDeparture.Estimated">

<div class="form-group row">
    <div class="col-3">
        <label asp-for="Descriprion"></label>
    </div>
    <div class="col">
        <textarea asp-for="Descriprion" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Descriprion" class="text-danger"></span>
    </div>
</div>

<div class="form-group row">
    <div class="col-3">
        <label asp-for="Way.Start"></label>
    </div>
    <div class="col">
        <textarea cols="2" type="text" class="form-control" placeholder="Start trip" asp-for="Way.Start"></textarea>
        <span asp-validation-for="Way.Start" class="text-danger"></span>
        <input class="form-control d-none" asp-for="Way.Start.Coords.Lat">
        <input class="form-control d-none" asp-for="Way.Start.Coords.Lng">
    </div>
</div>

<div class="form-group row">
    <div class="col-3">
        <label asp-for="Way.End"></label>
    </div>
    <div class="col">
        <textarea cols="2" type="text" class="form-control" placeholder="End trip" asp-for="Way.End"></textarea>
        <span asp-validation-for="Way.End" class="text-danger"></span>
        <input class="form-control d-none" asp-for="Way.End.Coords.Lat">
        <input class="form-control d-none" asp-for="Way.End.Coords.Lng">
    </div>
</div>

<input hidden asp-for="Way.StaticImageUrl" />


