@model FastTripApp.DAO.Models.Trip

<!--<style>
    #map {
        height: 400px;
        width: 400px;
    }
</style>

<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden>
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Cancel curent Fast Trip</h2>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="TimeBeforeDeparture.ApproximateStart"></label>
                    </div>
                    <div class="col">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="TimeBeforeDeparture.ApproximateStart" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Descriprion"></label>
                    </div>
                    <div class="col">
                        <textarea asp-for="Descriprion" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Descriprion" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Descriprion"></label>
                    </div>
                    <div class="col">
                        <textarea cols="2" id="InputStart" type="text" class="form-control" placeholder="Start trip" asp-for="Address.Start"></textarea>
                        <span asp-validation-for="Address.Start" class="text-danger"></span>
                        <input id="Address.StartCoords" type="text" class="form-control d-none" asp-for="Address.StartCoords">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="Address.End"></label>
                    </div>
                    <div class="col">
                        <textarea cols="2" id="InputEnd" type="text" class="form-control" placeholder="End trip" asp-for="Address.End"></textarea>
                        <span asp-validation-for="Address.End" class="text-danger"></span>
                        <input id="Address.EndCoords" type="text" class="form-control d-none" asp-for="Address.EndCoords">
                    </div>
                </div>

                <div class="row d-flex justify-content-end">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5 text-right" id="map">-->
                @* Keep this empty *@
            <!--</div>
        </div>
    </div>
</form>

<div class="col-6 text-right" id="map"></div>
<script>
    let directionsDisplay;
    let directionsService = new google.maps.DirectionsService();
    let geocoder = new google.maps.Geocoder();

    document.getElementById("InputStart").onclick = function () {
        const start = GenAutocomplete("InputStart")
        const end = GenAutocomplete("InputEnd")
        Promise.all([start, end]).then((lala) => calcRoute(lala[0], lala[1]))

    }
    document.getElementById("InputEnd").onclick = function () {
        GenAutocomplete("InputStart").then(coords => calcRoute(coords));
    }

    google.maps.event.addDomListener(window, 'load', initMap);
</script>-->
