@model FastTripApp2.Models.TimeInfo

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container p-3 ">
    <div class="d-flex justify-content-center align-items-center row">
        <div class="col-4"> </div>
        <div class="col">
            <h2 class="text-primary">We are glad that you have chosen us. Don't forget to leave a comment at the end of your trip. here's a cat for you while you are on your way</h2>
            <img src="~/cat.gif" alt="я джифка">
            <form name=MyForm asp-controller="Trip" asp-action="End" asp-route-id="@ViewData["Id"]">
                <input class="n-none" asp-for="Start"/>
                <input type="submit" class="btn btn-info w-100" value="End trip" />
            </form>
        </div>
        <div class="col-4"> </div>
        


        <script>
            var base = 60;
            var clocktimer, dateObj, dh, dm, ds, ms;
            var readout = '';
            var h = 1,
                m = 1,
                tm = 1,
                s = 0,
                ts = 0,
                ms = 0,
                init = 0;

            window.onload = () => {
                StartStop();
            }
            document.MyForm.stopwatch.onclick = function () {
                StartStop()
            }

        </script>
    </div>
</div>

