@using Microsoft.AspNetCore.Identity
@using FastTripApp.DAO.Models.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @{if (SignInManager.IsSignedIn(User))
        {
            var myUser = await UserManager.GetUserAsync(User);
            if (myUser.ImagePath != null)
            {
                <li class="nav-item d-flex align-items-center">
                    <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="~/uploads/profile_pic/@myUser.ImagePath">
                </li>
            }
            <li class="nav-item">
                <form class="nav-link form-inline" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <button id="manage" type="submit" class="nav-link btn btn-link text-dark">Hello @myUser.Firstname!</button>
                </form>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="nav-link form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Review", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }

        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    }
</ul>
