@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-primary text-light" asp-controller="Review" asp-action="Index">
        Show Reviews
    </a>
    @*@{

            Html.RenderPartial("Index", "Review");

        }*@
  




</div>
